#formContainer{
    margin: auto;
    width: 80%;
}
#saveDiv{
    margin: auto;
    width: 100%;
}
#save{
    margin-left: 45%;
    margin-right:45%;
    background-color: green;
    color: white;
}
#newForm{
    margin:auto;
    width: 50%;
    word-wrap: break-word;
}
#download{
    margin-left: 35%;
    margin-right:35%;
    background-color: darkgray;
    color: white;
}